@import "reset"; // обнуление стилей
@import "fonts";
/*================================================*/
@import "vars"; // переменные
@import "mixins"; // миксины и шаблоны

/*================================================*/

body {
    font-family: "Museo Sans Cyrl", "Arial", sans-serif;
    line-height: 1.08;
    color: $text-primary;
    background: $bg-white;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    // overflow: hidden; убрал в контейнер для Pos sticky
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    overflow: hidden;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header__hero {
    padding: 56px 0 90px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background: $bg-primary;
    border-radius: 20px;
    color: $text-button;
    font-size: 20px;
    line-height: 1.34;
}



/*========================HEADER========================*/
.header {
    &__top {
        position: sticky;
        top: 24px;
        border-radius: 24px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.20) 100%);
        backdrop-filter: blur(10px);
        z-index: 100;

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;
            font-size: 18px;
            line-height: $line-hieght-title;
            letter-spacing: -0.018px;
            position: relative;
        }
    }

    &__logo {
        margin-right: 48px;
    }


}

.nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    &__list {
        display: flex;
        align-items: center;
        gap: 36px;
    }

    &__items {
        transition: $transition;

        &:hover {
            opacity: 0.65;
        }
    }
    &__items--specials:first-child{
    }
    &__title {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__title-button {
        font-weight: 700;
        font-size: 18px;
        line-height: $line-hieght-title;
        letter-spacing: -0.018px;
        background: transparent;
        margin-right: 2px;
    }

    &__title-arrow {
        display: flex;

    }

    &__items-plus{
        display: none;
    }

    &__item {}

    &__link {}

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contacts-tel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 48px;
        margin-right: 16px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.65);
        transition: $transition;
        & svg {
            transition: $transition;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.8);
            & svg {
                scale: 1.1;
            }
        }
    }

    &__contacts-button {
        background: transparent;
        font-weight: 700;
        font-size: 18px;
        line-height: $line-hieght-title;
        letter-spacing: -0.018px;
        margin-left: 8px;
        color: $text-primary;
    }

    &__contacts-tg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 48px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.65);
        transition: $transition;
        & svg {
        transition: $transition;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.8);
            & svg {
                scale: 1.1;
            }
        }
    }

}

// ==========================HERO=========================================
.hero {

    &__inner {
        position: relative;

    }

    &__content {
        display: flex;
        align-items: start;

    }

    &__title {
        font-size: 88px;
        font-style: normal;
        font-weight: 700;
        line-height: $line-hieght-title;
    }

    &__button {
        max-width: 300px;
    }


    &__img {
        margin-top: -160px;
        display: flex;
        width: 100%;
        height: 100%;

        // &::after {
        //     content: '';
        //     @include pos(87.1, 24.6);
        //     border-radius: 50%;
        //     width: 190px;
        //     height: 190px;
        //     background: url('../Images/hero-gif.gif') 40% 40% / 140% 140% no-repeat;
        // }

        img {
            z-index: -1;
            width: 100%;
        }
    }


    &__gif {

        @include pos(87.1, 24.5);

        width: 190px;
        height: 190px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            // scale: .25;
        }
    }
}






/*================================================*/