@import "reset"; // обнуление стилей
@import "fonts";
/*================================================*/
@import "vars"; // переменные
@import "mixins"; // миксины и шаблоны

/*================================================*/

body {
    font-family: "Museo Sans Cyrl", "Arial", sans-serif;
    line-height: 1.08;
    color: $text-primary;
    background: $bg-white;
    // overflow: hidden;
}


.body--opened-nav1 {
    .nav__title-arrow1 {
        transform: rotate(180deg);
    }

    .nav {

        // transition: $transition;
        &__items-plus-special1 {
            visibility: visible;
        }

        &__title-menu1 {
            opacity: .65;
        }
    }
}

.body--opened-nav2 {
    .nav__title-arrow2 {
        transform: rotate(180deg);
    }

    .nav {
        &__items-plus-special2 {
            visibility: visible;
        }

        &__title-menu2 {
            opacity: .65;
        }
    }
}

.wrapper {
    min-height: 100%;
    width: 100%;
    // overflow: hidden;перенес в контейнер
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    overflow: hidden;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;

    &__header {
        overflow: visible;
    }
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background: $bg-primary;
    border-radius: 20px;
    color: $text-button;
    font-size: 20px;
    line-height: 1.34;
    transition: $transition;
    z-index: 5;

    &::before {
        content: "";
        display: block;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background: $bg-primaryHover;
        border-radius: 20px;
        transition: opacity 0.5s ease-in-out;
        z-index: -1000;
    }

    &:hover::before {
        opacity: 1;
    }
}

.header__hero {
    padding: 56px 0 90px;
}

.footer {
    padding: 100px 0 0px 0;
}




/*========================HEADER========================*/
.header {
    &__top {
        position: sticky;
        top: 24px;
        border-radius: 24px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.20) 100%);
        backdrop-filter: blur(10px);
        z-index: 100;

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;
            font-size: 18px;
            line-height: $line-hieght-title;
            letter-spacing: -0.018px;
            position: relative;
        }
    }

    &__logo {
        margin-right: 48px;

        & img {
            width: 92px;
            height: 40px;
        }
    }


}

.nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    &__list {
        display: flex;
        align-items: center;
        gap: 36px;
    }

    &__items {}

    &__items-plus-special1 {
        @include pos(285, 23);
        visibility: hidden;
    }

    &__items-plus-special2 {
        @include pos(217, 35);
        visibility: hidden;
    }

    // ========================Открытие nav menu=========================================================
    &__items-plus-special1--open {
        visibility: visible;
    }

    &__items-plus-special2--open {
        visibility: visible;
    }



    // =================================================================================

    &__title {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: $transition;

        &:hover {
            opacity: 0.65;
        }
    }

    &__title-button {
        font-weight: 700;
        font-size: 18px;
        line-height: $line-hieght-title;
        letter-spacing: -0.018px;
        background: transparent;
        margin-right: 4px;
    }

    &__title-arrow {
        display: flex;
        align-items: center;
        transition: $transition;
    }

    &__items-plus {
        background: $bg-white;
        border-radius: 16px;
        box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.24);
        font-size: 16px;
        line-height: 132%;
        padding: 8px 16px 8px 8px;
        min-width: 203px;
    }

    &__item {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        width: 100%;
        transition: opacity 0.4s;
        display: flex;
        gap: 12px;
        padding: 8px 16px 8px 8px;

        &:hover {
            opacity: 0.65;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
    }

    &__contacts-tel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 48px;
        margin-right: 16px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.65);
        transition: $transition;

        & svg {
            transition: $transition;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.8);

            & svg {
                scale: 1.1;
            }
        }
    }

    &__contacts-button {
        background: transparent;
        font-weight: 700;
        font-size: 18px;
        line-height: $line-hieght-title;
        letter-spacing: -0.018px;
        margin-left: 8px;
        color: $text-primary;
    }

    &__contacts-tg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 48px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.65);
        transition: $transition;

        & svg {
            transition: $transition;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.8);

            & svg {
                scale: 1.1;
            }
        }
    }

}

// ==========================HERO=========================================
.hero {

    &__inner {}

    &__content {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &__title {
        font-size: 88px;
        font-weight: 900;
        line-height: $line-hieght-title;

        &-mod {
            color: $text-accent2;
        }

        @keyframes print-text {
            from {
                width: 0%;
            }

            25% {
                width: 7.7ch;
            }

            50% {
                width: 7.7ch;
            }

            100% {
                width: 0%;
            }
        }

        &-mod {
            animation: print-text 4s steps(30) infinite;
            display: inline-flex;
            white-space: nowrap;
            overflow: hidden;
            width: 7.7ch;
            margin-left: 15px;
        }
    }

    &__button {
        max-width: 300px;
    }


    &__img {
        margin-top: -160px;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: -1;
        position: relative;

        &::after {
            content: '';
            @include pos(84.5, 24.6);
            border-radius: 50%;
            width: 15.7%;
            height: 30.8%;
            background: url('../Images/hero-gif.gif') 40% 40% / 140% 140% no-repeat;
        }

        img {
            width: 100%;
        }
    }

}


// ==========================FOOTER=========================================


.footer {

    &__inner {}

    &__row {
        margin-bottom: 25px;
    }


    &__socials {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        &-info {
            display: flex;
            gap: 56px;
        }

        &-col {
            display: flex;
            gap: 16px;
            align-items: center;
        }

        &-icon {
            border: 1px solid $bg-grey;
            border-radius: 8px;
            padding: 10px;

            & svg {}
        }

        &-content {}

        &-link {
            font-size: $fz-main;
            font-weight: 700;
            line-height: $line-hieght-paragraph;
            letter-spacing: -0.018px;
            color: $text-primary;
        }

        &-text {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.28;
            letter-spacing: -0.014px;
            color: $text-secondary;
        }
    }


    &__nav {
        display: flex;
        justify-content: space-between;


        &-links {
            display: flex;
            gap: 128px;
        }

        &-col {}


        &-list {
            font-size: 18px;
            line-height: $line-hieght-title;
            letter-spacing: -0.018px;
            min-width: 190px;

        }

        &-item {
            margin-bottom: 4px;

            &:first-child {
                margin-bottom: 12px;
            }
        }

        &-text {
            font-weight: 700;
        }

        &-link {
            padding: 4px 16px 4px 0px;
            display: block;

            &--camp {
                margin: 35px 0 0 0;
                font-weight: 700;
                // margin-top: -12px;
            }
        }
    }

    &__images {
        display: flex;
        gap: 107px;

        &-qrs {
            display: flex;
            gap: 24px;
        }

        &-qr {}

        &-img {}
    }

    .footer {

        &__row {}

        &__staff {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-content {
                display: flex;
                flex-grow: 1;
                justify-content: space-between; 

            }

            &-logo {
            }

            &-info {
                font-size: 14px;
                line-height: 1.28;
                letter-spacing: -0.014px;
            }

            &-button {
                justify-self: end;
                & svg {
                    transform: rotate(-90deg);
                }
            }
        }
    }


    &__button {}




    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copyright-info {}

    &__copyright-year {
        display: flex;
        gap: 3px;
        align-items: center;
        font-size: 14px;
    }

    &__copyright-logos {
        display: flex;
        gap: 20px;
    }
}

.socials {
    display: flex;
    gap: 23px;

    &__vk {}

    &__inst {}

    &__fb {}
}






/*================================================*/