@import "reset"; // обнуление стилей
@import "fonts";
/*================================================*/
@import "vars"; // переменные
@import "mixins"; // миксины и шаблоны
/*================================================*/
@import "global";
@import "header";
@import "footer";
/*================================================*/


/*==================Who==============================*/
.who__slider--mobile.swiper {
    display: none;
}

.who__slider--mobile {
    overflow: visible;
    width: 600px;
    height: 404px;
}

.who__slide {
    width: 280px;
    height: 404px;
}

.who {

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__content {
        max-width: 335px;
    }

    &__title {
        color: $text-accent1;
        font-size: 52px;
        font-weight: 700;
        line-height: 1.08;
        margin-bottom: 40px;

        & span {
            color: $text-primary;
        }
    }

    &__pagination {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.34;
    }

    &__pag {
        color: $text-primary;
        padding: 20px 30px;
        border-radius: 40px;
        background: $text-button;
        position: relative;

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &::before {
            transition: $transition;
            content: "";
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            background: linear-gradient(#D58CF7, #7A9FFF);
            border-radius: 34px;
            z-index: -1;
            opacity: 0;
        }
    }

    &__pag--active {
        background: linear-gradient(131deg, #B46BED 0%, #5A67DD 100%);
        color: $text-button;
    }


    &__slider {
        width: 470px;
        height: 560px;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    &__slider-inner {}

    &__slide {
        padding: 36px 40px;
        background: $bg-white;
        border: 1px solid $bg-grey;
        border-radius: 48px;

        &-title {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.08;
            margin-bottom: 24px;
        }

        &-content {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.34;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &-subtitle {
            margin-bottom: 8px;
        }




        &-list {}

        &-item {
            display: flex;
            gap: 24px;
            padding: 17px 8px 17px 0px;
        }

        &-link {
            flex-grow: 1;
            display: flex;
            align-items: end;
        }
    }

    &__text {
        align-self: end;
        font-size: 52px;
        font-weight: 700;
        line-height: 1.08;
        max-width: 360px;
        margin-bottom: 68px;

        & span {
            color: $text-accent1;
            animation: colorGreen 10s infinite;
        }

        @keyframes colorGreen {
            0% {
                color: $text-primary;
            }

            20% {
                color: $text-primary;
            }

            40% {
                color: $text-accent1;
            }

            60% {
                color: $text-accent1;
            }

            80% {
                color: $text-primary;
            }

            100% {
                color: $text-primary
            }

        }
    }
}

.swiper-pagination-vertical.swiper-pagination-bullets.who__pagination {
    transform: none;
}

































/*================================================*/
/*================================================*/
/*================================================*/
/*================================================*/
/*================================================*/
/*================================================*/
/*================================================*/
@media (max-width: 1300px) {
    // =============Hero======================

    .hero {
        &__title-mod {
            display: block;
            margin-left: 0;
        }
    }

    // =============Who======================

    .who__text {
        max-width: none;
        margin-top: 40px;
    }

}

@media (max-width: 1200px) {
    .footer {
        &__nav {
            align-items: center;

            &-links {
                flex-direction: column;
                gap: 30px;
            }


        }

        &__socials-info {
            gap: 20px;
        }

        &__staff-content {
            gap: 0;
            justify-content: space-between;
            margin-right: 30px;
        }
    }


}

@media (max-width: 1050px) {
    // ===================Header=====================

    .nav {
        &__contacts-tel {
            margin-right: 7px;
        }
    }

    // ===================HERO=====================
    .hero {
        &__content {
            flex-direction: column;
            // max-width: 80vw;
        }

        &__title {
            margin-bottom: 30px;
            font-size: 66px;
        }

        &__img {
            margin-top: -90px;
        }
    }

}

@media (max-width: 900px) {

    // ==============Header================================

    .header {
        &__top {
            backdrop-filter: blur(10px);
        }

        &__top--none {
            backdrop-filter: none;
        }

        &__logo {
            z-index: 151;
            margin-left: 16px;
        }
    }

    .container__header {
        padding: 0 8px;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 150;
        flex-direction: column;
        align-items: center;
        padding: 90px 24px 24px 24px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.48) 100%);
        backdrop-filter: blur(10px);
        align-items: center;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        &__list {
            flex-direction: column;
            align-items: start;
            width: 100%;
            gap: 0px;
        }

        &__items {
            width: 100%;
            position: relative;
            padding: 10px 0;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(#D6DADE 0%, #D6DADE00 100%);
            }
        }

        &__contacts {
            flex-direction: column;
            width: 100%;
        }

        &__contacts-tel {
            background: #EDF1F6;
            width: 100%;
        }

        &__contacts-tg {
            display: none;
        }


        &__items-plus {
            position: unset;
            border: none;
            background: none;
            box-shadow: none;
            padding: 0;
            transition: $transition2;
            max-height: 0;
        }

        // ========================

        &__items-plus--opened {
            opacity: 1;
            visibility: visible;
        }

        // ========================
        &_link {
            padding: 4px 0;

            &:last-child {
                padding-bottom: 12px;
            }
        }

        &__item {
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: 4px;
            justify-content: space-between;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .socials {
        &__header {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        &__link {
            display: block;

            & img {
                width: 40px;
                height: 40px;
            }
        }
    }


    .burger-icon {
        display: flex;
    }



    // ==============Footer================================
    .footer {
        &__nav {
            &-col {
                margin-bottom: 30px;
            }

            &-links {
                gap: 0;
            }



            &-links {
                margin-bottom: 30px;
            }

            &-link--camp {
                margin: 30px 0 0 0;
            }
        }

        &__images-qrs {
            &::after {
                top: 107%;
                left: 94%;
            }

        }


    }


    // ==============Who================================
    .who__slider--mobile.swiper {
        display: block;
    }

    .who__slider.swiper {
        display: none;
    }

    .who__inner {
        flex-direction: column;
        justify-content: start;
    }

    .swiper.who__slider {
        margin-left: 0;
    }

    .who__pagination {
        display: none;
    }
    .who__title {
        font-size: 42px;
    }

    // ==============Who mobile================================
    .who__slide {
        padding: 20px 16px;
        border-radius: 24px;
    }

    .who__slide-title {
        font-size: 20px;
        margin-bottom: 16px;

        font-weight: 900;
        line-height: 1.18;
    }

    .who__slide-content {
        font-size: 16px;
    }

    .who__slide-subtitle {
        margin-bottom: 2px;
    }

    .who__slide-list {
        padding: 2px 8px 12px 0px;
    }

    .who__slide-item {

        padding: 12px 0 0 0;

        & img {
            gap: 12px;
            width: 24px;
            height: 24px;
        }
    }

    .link-arrow {
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.014px;

        & img {
            width: 18px;
            height: 18px;
        }
    }

    

    .who__text {
        font-size: 42px;
    }


}

// Footer меняется на mobile
@media (max-width:800px) {
    // ==============Header================================

    .hero {
        &__img {
            margin-top: -40px;
        }
    }


    // ==============Footer================================
    .footer__pc {
        display: none;
    }

    .footer__mobile {
        display: block;
    }

    .footer {
        &__row {
            margin: 0;
        }


        &__socials {
            padding: 0 0 32px 0;

            &-info {
                flex-direction: column;
                margin: 0 0 32px 0;
            }

            &-col {
                gap: 12px;
            }

            &-icon {
                & svg {
                    width: 21px;
                    height: 21px;
                }
            }
        }

        &__nav {
            flex-direction: column;
            align-items: start;

            &-links {
                margin: 0;
                width: 100%;
            }

            &-link {
                &--camp {
                    margin: 0;
                    height: 44px;
                    padding: 5px 0;
                    display: flex;
                    align-items: center;
                }
            }

            &-col {
                margin: 0;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(#D6DADE 0%, #D6DADE00 100%);
                }
            }

            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                margin: 0;
                padding: 5px 0;
                height: 44px;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    opacity: 0.65;
                }
            }


            &-list {
                max-height: 0;
                transition: $transition2;
                opacity: 0;
                visibility: hidden;
            }

            &-list--opened {
                visibility: visible;
                opacity: 1;
            }
        }

        &__images {
            gap: 0;
            justify-content: space-between;
            margin-top: 15px;

            &-qrs {
                flex-direction: column;
                gap: 8px;

                &::after {
                    top: 50%;
                    left: 137%;
                    width: 180px;
                    height: 160px;
                    background: url(../Images/Footer/text+arrow1.svg) 0 0 / 100% 100% no-repeat;

                    z-index: -10;
                }
            }

            &-qr {
                & a {
                    display: block;
                    width: 100%;
                }
            }

            &-img {
                min-width: 130px;
                z-index: -11;
            }

        }


        &__logos {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-bottom: 16px;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(#D6DADE 0%, #D6DADE00 100%);
            }
        }

        &__copyright {
            padding-top: 16;

            &-logo {
                & img {
                    width: 83px;
                    height: 36px;
                }
            }

            &-info {
                font-size: 10px;
            }

            &-year {
                font-size: 10px;

                & svg {
                    width: 14px;
                    height: 14px;
                }

            }
        }
    }

    .socials {



        .footer__staff-button-arrow {
            width: 40px;
            height: 40px;
        }
    }



}

@media (max-width:600px) {
    // ==============Hero================================

    .hero {
        &__title {
            font-size: 46px;
            margin-bottom: 16px;
        }

        &__img {
            margin-top: -30px;
        }
    }

    .button {
        font-size: 16px;
        height: 48px;
        width: auto;
        padding: 16px 24px;

        &::before {
            height: 48px;
        }
    }

    // ==============Footer================================

    .footer {
        &__socials {
            flex-direction: column;
        }

        &__staff-button {
            margin: 0px 0px 0px auto;
        }

        &__images-qrs {
            &::after {
                top: 50%;
                left: 80%;
            }
        }

        &__logos {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            // &:first-child{
            //     margin-bottom: 16px;
            // }
        }

    }


    // ==============Who mobile================================
    .who__inner {
        display: block;
    }
    .who__title {
        font-size: 32px;
    }

    .who__text {
        font-size: 32px;
    }

    .who__slider--mobile {
        overflow: visible;
        width: 560px;
        height: 404px;
    }
}

@media (max-width:400px) {
    // ==============Hero================================

    .hero {
        &__title {
            font-size: 38px;
        }
    }

    .button {}

    // ==============Footer================================

    .footer {
        &__images-qrs {
            &::after {
                top: 117px;
                left: 81px;
            }
        }
    }
}